<!DOCTYPE html>
<html>
  <head>
    <title>404 Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Well, shit.</h1>
    <p>Welcome to nowhere, population you.</p>
  </body>
</html>